{{ define "main" }}
<style>
  html body::before {
    filter: none !important;
  }
</style>

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | relURL }}" />
  <link rel="stylesheet" type="text/css" href="{{ "css/shop.css" | relURL }}" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
<div class="banner-img">
  <a href="{{ "/shop/" | relURL }}">
    <img src="{{ .Site.Params.logo }}" alt="shop" class="banner-image" style="width: 60px">
  </a>
  <img src="{{ .Site.Params.gif }}" alt="shop" class="banner-image" style="width: 60px">
  <img src="{{ .Site.Params.shops }}" alt="shop" class="banner-image" style="width: 100px">
</div>

<div class="banner_shop">
  <h1>Games 🎮</h1>
  <p>Videogames, Personajes, Accesorios</p>
</div>

{{ partial "category-selector" . }}

<div class="galeria" id="productos">
  {{ $productos := .Site.Data.productos_scrapt }}
  {{ if $productos }}
    {{ range $productos.productos }}
      {{ $categorias := .categoria }}
      {{ if not (reflect.IsSlice $categorias) }}
        {{ $categorias = slice $categorias }}
      {{ end }}
      {{ $categorias_lower := apply $categorias "lower" "." }}
      {{ if in $categorias_lower "games" }}
        <div class="card" id="producto-{{ .id }}">
          <img src="{{ .imagen | safeURL }}" alt="{{ .nombre }}">
          <h3>{{ .nombre }}</h3>
          <p>Precio: ${{ .precio }}</p>
          <a href="{{ .enlace }}" target="_blank">Ver en MercadoLibre</a>
          <p>Categorías: {{ delimit $categorias ", " }}</p>
        </div>
      {{ end }}
    {{ end }}
  {{ else }}
    <p>No se encontraron productos.</p>
  {{ end }}
</div>



<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>
</html>
{{ end }}
