@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to   { opacity: 1; transform: scale(1); }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  position: relative;
  background: #fff;
  padding: 0;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-out; /* 👈 Fade-in agregado */
}


.popup-content img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin: auto;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 36px; /* más grande */
  font-weight: bold;
  cursor: pointer;
  color: white; /* blanco */
  background: rgba(0,0,0,0.4); /* opcional: fondo semitransparente para mayor contraste */
  border-radius: 50%;
  padding: 4px 10px;
  line-height: 1;
}

.img-desktop {
  display: block !important;
}

.img-mobile {
  display: none !important;
}

@media (max-width: 768px) {
  .img-desktop {
    display: none !important;
  }
  .img-mobile {
    display: block !important;
  }
}