<aside class="sidebar">
  <div class="container ">
        <!-- Logo en la barra lateral -->
    <div class="sidebar-logo">
      <img src="{{ .Site.Params.logo }}" alt="Logo" class="logo-sidebar" style="width: 30%; margin-top: 5px;">
    </div>
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}">
        <h1>{{ .Site.Title }}
         <img src="{{ .Site.Params.gif }}" alt="GIF animado" class="gif-title" style="width: 50px; height: 50px; margin-left: 10px;">
        </h1>
      </a>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ "shop/" | relURL }}">
            <img src="{{ .Site.Params.shops }}" alt="Shops" style="height: 50px;">
            </a>
        </li>
        <li><a href="{{ .Site.BaseURL }}">Últimos Trabajos</a></li>
        {{ range .Site.Menus.main -}}
          <li class="menu-item">
            <a href="{{ .URL }}"> {{ .Name }} </a>
            {{ if .HasChildren }}
              <ul class="submenu">
                {{ range .Children }}
                  <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
            {{ end }}
          </li>
        {{- end }}
      </ul>
    </nav>

    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</aside>
